* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    height: 100vh;
    overflow-y: hidden;
}

/*font size*/
h1 {
    font-size: 60px;
}

h3 {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 27px;
    color: #cdcdcd;
}




/*NAVIGATION BAR DESKTOP*/
nav {
    height: 8vh;
    display: flex;
    background-color: rgb(0, 0, 0);
    justify-content: space-between;
    align-items: center;
    padding-left: 10vw;
    padding-right: 10vw;
}

.restaurant-name {
    font-size: 3.5rem;
    color: rgb(248, 248, 236);
    padding-left: 5vw;
}

.navigation {
    padding-right: 5vw;
    width: 30vw;
    display: flex;
    justify-content: space-between;
    
}

.navigation a {
    color: rgb(248, 248, 236);
    font-size: 20px;
    text-decoration: none;
    font-weight: 300;
}

a:hover {
    color: rgb(248, 248, 236);
    text-decoration: underline;
}

.on-page:link {
    font-size: 20px;
    font-weight: 700;
}

@media screen and (max-width:1000px) {
    nav {
        flex-direction: column;
        height: 100px;
        justify-content: center;
        
    }
    .restaurant-name{
        width: 100%;
        padding:0;
        text-align: center;
    }
    .navigation {
        padding: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}
.mobile {
    display: none;
}
/* Mobile Nav */
@media (max-width:480px) {
    .pc {
        display: none;
    }
    .mobile {
        display: contents;
    }
    body {
    display: flex;
    margin: 0;
    padding: 0;
    
    /* make it look decent enough */
    background: #232323;
    color: #cdcdcd;
    font-family: "Avenir Next", "Avenir", sans-serif;
    }
    
#menuToggle
    {
    display: block;
    position: relative;
    top: 50px;
    left: 50px;
    
    z-index: 1;
    
    -webkit-user-select: none;
    user-select: none;
    }
    
#menuToggle a
    {
    text-decoration: none;
    color: #232323;
    
    transition: color 0.3s ease;
    }
    
 #menuToggle a:hover
    {
    color: tomato;
    }
    
    
#menuToggle input
    {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    
    cursor: pointer;
    
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
    
    -webkit-touch-callout: none;
    }
    
    /*
    * Just a quick hamburger
    */
#menuToggle span
    {
    display: block;
    width: 32px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    
    background: #cdcdcd;
    border-radius: 3px;
    
    z-index: 10px;
    
    transform-origin: 4px 0px;
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
    }
    
#menuToggle span:first-child
    {
    transform-origin: 0% 0%;
    }
    
#menuToggle span:nth-last-child(2)
    {
    transform-origin: 0% 100%;
    }
    
    /* 
    * Transform all the slices of hamburger
    * into a crossmark.
    */
#menuToggle input:checked ~ span
    {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
    }
    
    /*
    * But let's hide the middle one.
    */
#menuToggle input:checked ~ span:nth-last-child(3)
    {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
    }
    
    /*
    * Ohyeah and the last one should go the other direction
    */
#menuToggle input:checked ~ span:nth-last-child(2)
    {
    transform: rotate(-45deg) translate(0, -1px);
    }
    
    /*
    * Make this absolute positioned
    * at the top left of the screen
    */
z
    {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }
    
#menu li
    {
    padding: 10px 0;
    font-size: 22px;
    z-index: 10;
    }
    
    /*
    * And let's slide it in from the left
    */
#menuToggle input:checked ~ ul
    {
    transform: none;
    }
}
/*FOOTER*/
footer {
    background-color: black;
    color: beige;
    height: 2vh;
    text-align: center;
    font-weight: 400;
    letter-spacing: 0.2rem;
    font-size: 12px;
}




