*{
    margin: 0px;
    padding: 0px;
}

.banner-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    height: 35vh;

    background-color: black;
    color: white;
}

.banner-link{
    text-decoration: none;
    color: white;
}

h1{
    font-size: 60px;
    margin: 5px;
}

.slogan{
    font-style: italic;
    font-size: 18px;
}

ul{
    display: flex;
    list-style: none;
    gap:70px;
}

li{
    padding-top: 25px;
    font-size: 30px;
}

.bottom-container{
    display: flex;
    justify-content: space-around;
}

.reservation-left{
    display: flex;
    flex-direction: column;
    
    gap: 20px;
    padding-top: 40px;
}

.reservation-right{
    padding-top: 50px;
}

.persons, .time, .date{
    display: flex;

    font-weight: bold;
    font-size: 20px;
}

aside{
    padding-left:100px;
    margin-top: -18px;
}

label{
    width: 100px;
}

.max-persons{
    font-size: 12px;
    font-weight:400;
}

.make-reservation{
    color: white;
    background-color: blue;

    font-weight: bold;
    padding: 8px;
    width: 20ch;
    margin-left: 75px;

    border-radius: 50px;

    cursor:pointer;
}

.remarks{
    width: 50ch;
    height: 100px;
    padding-top: 5px;
}

#time, #persons, #date{
    width:13ch;
    padding-left: 0.3ch;
}



.link-reservations{
    text-decoration:underline;
}

.more-than-eight-contact{
    color: black;
}

