* {
    padding: 0;
    margin: 0;
}

body, html {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
}


/*header*/
.bannerz {
    display: flex;
    width: 200vw;
    height: 30vh;
    justify-content: space-between;
}

.pictures-header {
    width: 100vw;
    background-color: rgb(0, 0, 0);
    padding: 0vh 0 2vh 0;
    display: flex;
    justify-content:space-around;
    position: relative;
    animation: infinite;
    animation-name: banner;
    animation-duration: 60s;
    animation-timing-function: linear;
}

@keyframes banner {
    0%   {left:0px;}
    100% {left:-100vw;}
  }

.restovibes {
    max-width: 333px;
    height: 100%;
    object-fit: cover;
}


/*container*/
.contact-container {
    background-color: rgb(170, 169, 100);
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    background-color: rgb(132, 201, 167);
    width: 33.33%;
    aspect-ratio: 1 / 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

p {
    text-align: center;
}

table {
    margin: 10px 0 0 0;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

td {
    width: 100px;
    text-align: center;
    border: 1px rgb(182, 182, 182) solid;

}
.maps {
    background-color: rgb(255, 255, 255);
    width:100%;
    height: 100%;
    display: flex;

    
}

iframe{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
}

.form {
    background-color: rgb(255, 144, 144);
    width: 33.33%;
    aspect-ratio: 1 / 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;

}

@media screen and (max-width:1000px) {

    .pictures-header {
        padding: 2vh 0 2vh 0;
    }
    .desktop {
        display: none;
    }

    .pictures-header {
        animation: none;
    }

    .contact-container {
        flex-direction: column;
        height: auto;
    }

    .info {
        width: 100%;
        height: 300px;
    }

    .maps {
        height: 400px;
    }

    .form {
        width: 100%;
        height: 300px;
    }
}

#telephonepic {
    width: 50%;
    object-fit: contain;
}

#telephone-link {
    width: 100%;
    display: flex;
    justify-content: center;
}

#telephone-link:hover {
    animation-name: kleurenmatrix;
    animation-duration: 0.4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


#telephone-link:hover #telephonepic {
    animation-name: trillen;
    animation-duration: 0.01s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate-reverse;
}

@keyframes trillen {
0%   {transform: translateX(-1px);transform: rotate(-1deg);}
100% {transform: translateX(1px);transform: rotate(1deg);}
}

@keyframes kleurenmatrix {
    0%   {background-color: hsla(0, 100%, 50%, 0.5);}
    20%   {background-color: hsla(70, 100%, 50%, 0.5);}
    40%   {background-color: hsla(137, 100%, 50%, 0.5);}
    60%   {background-color: hsla(232, 100%, 50%, 0.5);}
    80%   {background-color: hsla(313, 100%, 50%, 0.5);}
    100% {background-color: hsla(0, 100%, 50%, 0.5);}  
}